.button {
    @include button-base();
    color: $color__white;
    background: $background__button;
    @include input-border();
    @include focusable();
    
    &:hover {
        background: darken($background__button, 10%);
    }

    &:focus {
        background: darken($background__button, 20%);
        @include focusable-active();
    }

    &:active {
        color: darken($color__white, 20%);
    }

    &.button-search{
        position: relative;
        height: auto;
        padding: .7rem;
        padding-left: 3.5rem;
        font-size: 1.5rem;

        &::before{
            content: $icon__search;
            position: absolute;
            left: 9px;
            top: 7px;
            font-family: $font-family__icons;
            font-size: 1.7rem;
            color: white;
        }

        &:hover::before{
            animation: search-icon .3s ease;
        }
    }
}

.button-link {
    @include button-base();
    color: $color__link;
    background-color: transparent;
    border: 1px solid transparent;
    @include focusable();

    &:hover {
        background: darken($color__white, 10%);
    }

    &:focus {
        color: darken($color__link, 10%);
        @include focusable-active();
    }

    &:active {
        color: darken($color__link, 30%);
    }
}
