.control--radio {
    @extend .control--choice;
    .label {
        &::before,
        &::after {
            width: $size__radio;
            height: $size__radio;
            border-radius: 50% ;
        }
    }

    .radio {
        @extend .choice;

        &:disabled + .label {
            color: $color__text-muted;

            &::before {
                @include input-border(disabled);
            }
        }
    }
}