.field {
    margin-bottom: $margin__form-field;

    &.max-width-600 {
        max-width: 600px;
    }
}

.label {
    margin-left: 2px;
    margin-bottom: $margin__form-label;
    font-weight: bold;
    line-height: $line-height__input-normal;
}

.control {
    display: flex;
    align-items: center;
    text-align: left;
}

.help {
    margin-top: 2px;
    font-size: $font-size__small;
}

.inline-radio-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}