.search-field{
  flex: 0 0 70%;
  display: flex;
  @media screen and (max-width: 992px) {
    flex: 1;
  }

  .search{
    position: relative;
    padding: .7rem;
    margin-left: 1.5rem;
    margin-right: .5rem;
    width: 30rem;
    border: 2px solid $color__input-border;
    font-weight: bold;
    color: $color__text-body;
    font-size: 1.5rem;
    @include focusable();
    @media screen and (max-width: 768px) {
      width: auto;
    }
    @media screen and (max-width: 576px) {
      margin-left: 0;
    }

    &::placeholder {
      color: lighten($color__text-muted, 10%);
    }

    &:focus {
      @include focusable-active();
    }

  }
  .search-label{
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}