// Colorings for draft purposes
#app {
    background: #f4f1e9;
}

.page-header {
    background: #FFC75F;

}

.aside {

    .container {
        background: white;
    }
}

.main {

    .container {}
}

.page-footer {
    background: #FFC75F;
}
