.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  @media screen and (max-width: 576px) {
    flex-direction: column;
  }
}

.brand{
  color: #585250;
  flex: 0 0 360px;
  font-weight: bold;

  @media screen and (max-width: 992px) {
    flex: 0 0 30%;
  }
  @media screen and (max-width: 992px) {
    flex: 1;
  }
}